<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit post</title>
    </head>
    <body>
        <h2>Edit your post</h2>
        <p>Post id : <%= post.id %> </p>
        <p>Post username : @<%= post.username %> </p>
        <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
            <textarea rows="7" cols="35" name="caption"><%= post.caption %></textarea>
            <p>Current Image:</p>
            <img src="<%= post.image %>" width="200" height="280"> <br><br>
            <input type="file" name="photo" accept="image/*"><br><br>
            <button>Submit</button>
        </form>
    </body>
</html>